<body id ="background">
<div id="container">
{{#in_ca}}
<div id="addSale"> <h1>Add Sale</h1>  
<form action="sales/add" method="POST" class="form-horizontal" >
      
	<div class="form-group">
		<label class="control-label col-xs-2">Products</label>
		<div class="col-xs-10">	 
     			<select name="Id">
    				{{#each product}}
      					<option value = "{{Id}}">{{Name}}</option>
    				{{/each}}
  			</select>
		</div>

	</div>

	<div class="form-group">
		<label for="Amount" class="control-label col-xs-2">Qauntity</label>	 
		 <div class="col-xs-10">
			<input type="number" name="Qty" class="form-control" placeholder="Please Enter Sales Amount" required>
		</div>
	</div>


	<div class="form-group">
		<label for="number" class="control-label col-xs-2">Price</label>
		<div class="col-xs-10">	 
     			<input type="number" step="any" name="Sales_price" placeholder="Please Enter Sales Price" required>
		</div>
	</div>

	<div class="form-group">
		<label for="date" class="control-label col-xs-2">Date</label>
			<div class="col-xs-10">	 
     				<input type="date" class="form-control" name="Sales_date" placeholder="yyyy-mm-dd" required/>
			</div>
		
		</div> 
 	<input type="submit" class="btn btn-primary" id="enter" onclick="myFunction()">  

</form>
    </div>
 {{/in_ca}}
    <form>
	<input class="searchBar" id="sales_search" type="text" name="Name" placeholder="Search"></input>
</form>
<table id="sales" class="table table-striped custab">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty Sold</th>
        </tr>
    </thead>
            <tr>
                {{#each products}}
                <td>{{Name}}</td>
                <td>{{TotalQty}}</td>
            </tr>
            {{/each}}
    </table>
{{#user}}
    <table id="sales" class="table table-striped custab">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty Sold</th>
        </tr>
    </thead>
            <tr>
                {{#each products}}
                <td>{{Name}}</td>
                <td>{{TotalQty}}</td>
            </tr>
            {{/each}}
    </table>
    {{/user}}
</div>
<script>
function myFunction() {
    
    alert("New sale added");
   
}
</script></body>
