<div id="container">
{{#in_ca}}
    
<div id="addProduct">
    <form action="Products/add" method="POST">
    <h1>Add a product</h1>
     NAME:<input id="newName" type="text" name="Name" required>

  <select name="Category_Id">
    {{#each categories}}
      <option value = "{{Id}}">{{Name}}</option>
    {{/each}}
  </select> 
  
     <input type="submit" onclick="myFunction()">
   

</form>
    </div>
<form>
	<input class="searchBar" id="product_search" type="text" name="Name" placeholder="Search"></input>
</form>

<table id="products" class="table table-striped custab">
    <thead>
        <tr>
            <th>Product</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr>
                {{#each products}}
                <td>{{Name}}</td>
              
                <td class="text-center"><a class='btn btn-info btn-xs' href="/Products/products_edit/{{Id}}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="/Products/delete/{{Id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
        
            </tr>
          
            {{/each}}
    </table>
   
 </div>
{{/in_ca}}
{{#action}}

<table class="table table-striped custab">
    <thead>
        <tr>
            <th>Product</th>
        </tr>
    </thead>
            <tr>
                {{#each products}}
                <td>{{Name}}</td>
            </tr>
          
            {{/each}}
    </table>
{{/action}}
</div>

<script>
function myFunction() {
   
   $('#newName').val(); 
    if ($('#newName').val() != null){
    alert('New product added');
}
};

</script>
<script src="/js/search.js"></script>
